scipy==1.6.2
requests==2.22.0
notebook==6.2.0
youtube_dl==2020.3.24
streamlit==0.81.1
opencv-python-headless
tqdm==4.59.0
numpy==1.20.1
matplotlib==3.4.1
fastai==1.0.51
ffmpeg==1.4
Flask==2.0.1
imageio==2.9.0
ipython==7.23.1
Pillow==8.2.0
scikit-image
tensorboardX==2.2
torch==1.8.1
torchvision==0.9.1
Werkzeug==2.0.1